@import url("file:///home/zwoooz/.cache/wal/colors-waybar.css");
/* WAL_REFRESH: Fri Sep 19 10:12:07 AM CEST 2025 */

@define-color text #DAD4A9;
@define-color light #C95792;
@define-color middle #7C4585;
@define-color dark #3D365C;
@define-color red #FF746C;
@define-color darker #2f2947;

/* matugen colors */
@import url("file:///home/zwoooz/temp/colors.css");
/* background-color containers -> @surface_container */
/* background-color modules within containers -> @surface_container_low */
/* background-color highlighted containers -> @surface_container_high */
/* color (border and text) -> @primary */

/* EVERYTHING */
* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "DejaVuSansM Nerd Font, Not";
  font-size: 14px;
}


/* Entire waybar box and everything in it */
#waybar>* {
  opacity: 0.8;
}

/* Entire box of right modules */
.modules-right {
  margin-right: 10px;
}

/* All waybar modules */
label.module {
  background-color: @background;
  color: @foreground;
  border-radius: 10px;
  margin: 5px 0px 0px;
  padding: 0px 6px 0px 6px;
  transition: all ease 0.2s;
  box-shadow: inset 0 0 0 2px @foreground;
}

label.module:hover {
  background-color: @foreground;
  color: @background;
  box-shadow: inset 0 0 0 2px @background;
}

/* All waybar buttons */
button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 10px;
}

button:hover {
}

/* Individual modules */
#custom-vpn.vpn-up {
  padding-right: 5px;
  /* Less padding for narrower icon */
}

#custom-vpn.vpn-down {
  padding-right: 7px;
  /* More padding to balance width */
}

window#waybar {
  background-color: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-left: 12px;
  margin-top: 10px;
  margin-bottom: 4px;
}

/* Animation example */
/*     background-color: #ffffff; */
/*     color: #000000; */
/*   } */
/* } */

/* Using steps() instead of linear as a timing function to limit cpu usage */
/* #battery.critical:not(.charging) { */
/*   background-color: #f53c3c; */
/*   color: #ffffff; */
/*   animation-name: blink; */
/*   animation-duration: 0.5s; */
/*   animation-timing-function: steps(12); */
/*   animation-iteration-count: infinite; */
/*   animation-direction: alternate; */
/* } */

#network.disconnected {
  background-color: @red;
}

#pulseaudio.muted {
  color: @red;
}

#temperature.critical {
  background-color: @red;
}

#custom-power {
  background-color: @background;
  border-radius: 10px;
  padding: 0px 19px 0px 15px;
}

#custom-power:hover {
  background-color: @red;
}

.not-power label {
  background-color: @foreground;
  color: @background;
  border-radius: 10px;
  padding: 0px 16px 0px 15px;
  margin-right: 5px;
}

.not-power label:hover {
  background-color: @red;
}

#custom-updates {
  padding-right: 10px;
}

/* Workspaces */

/* This one doesn't seem to do anything but I won't touch it */
#workspaces {
  margin: 0px 4px;
}

#workspaces button {
  background-color: @background;
  padding: 0 10px;
  margin: 5px 2px 0px;
}

#workspaces button.visible {
  /*background-color: #3269a8;*/
    background-color: @color1;
}

#workspaces button.active {
  /*background-color: #3269a8;*/
  background-color: @color1;
  box-shadow: inset 0 0 0 2px @foreground;
}

#workspaces button:hover {
  background-color: @foreground;
  color: @background;
}

#workspaces button.active:hover {
}
